<a href="https://colab.research.google.com/github/harryguiacorn/Ichimoku-Cloud-Signal-Python/blob/master/Colab_Cloud_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clone source code and install packages

In [1]:
!git clone https://github.com/harryguiacorn/Cloud-Signal-Python.git
%cd Cloud-Signal-Python/
!ls
!pip install -r requirements.txt
!pip install schedule

from IPython.core.display import display, HTML

def display_html_table_jupyter(filename: str = "/content/Cloud-Signal-Python/output/sum/Oanda-sum-cloud-tkx-merged.csv.html"):
    with open(filename, "r") as f:
        html_content = f.read()

    display(HTML(html_content))

Cloning into 'Cloud-Signal-Python'...
remote: Enumerating objects: 5525, done.
remote: Counting objects: 100% (1005/1005), done.
remote: Compressing objects: 100% (213/213), done.
remote: Total 5525 (delta 806), reused 973 (delta 786), pack-reused 4520
Receiving objects: 100% (5525/5525), 17.08 MiB | 8.54 MiB/s, done.
Resolving deltas: 100% (1821/1821), done.
/content/Cloud-Signal-Python
asset_list			 main.py	 README.md		runDJ30.py     runNas100.py
colab				 misc		 replit.nix		runFTSE100.py  runOanda.py
Colab_Cloud_Signal_Python.ipynb  poetry.lock	 requirements.txt	runFTSE250.py  runSPX500.py
docs				 pyproject.toml  runCurrencyFutures.py	runFutures.py  src
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 1)) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 2)) (4.11.2)
Requirement already satisfied: certifi>=2022.12.7 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 3)) (2023.11.17)
Requirement already satisfied: cffi>=1.15.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 4)) (1.16.0)
Requirement already satisfied: charset-normalizer>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: contourpy>=1.0.7 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 6)) (1.2.0)
Requirement already satisfied: cryptography>=39.0.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 7)) (41.0.7)
Requirement already satisfied: cycler>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 8)) (0.12.1)
Collecting finta>=1.3 (from -r requirements.txt (line 9))
  Downloading finta-1.3-py3-none-any.whl (29 kB)
Requirement already satisfied: fonttools>=4.39.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 10)) (4.45.1)
Requirement already satisfied: frozendict>=2.3.5 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 11)) (2.3.10)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 12)) (1.1)
Requirement already satisfied: idna>=3.4 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 13)) (3.6)
Requirement already satisfied: kiwisolver>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 14)) (1.4.5)
Requirement already satisfied: lxml>=4.9.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 15)) (4.9.3)
Requirement already satisfied: matplotlib>=3.7.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 16)) (3.7.1)
Requirement already satisfied: multitasking>=0.0.11 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 17)) (0.0.11)
Collecting numpy>=1.24.2 (from -r requirements.txt (line 18))
  Downloading numpy-1.26.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 37.2 MB/s eta 0:00:00
Requirement already satisfied: packaging>=23.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 19)) (23.2)
Requirement already satisfied: pandas>=1.5.3 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 20)) (1.5.3)
Requirement already satisfied: Pillow>=9.4.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 21)) (9.4.0)
Requirement already satisfied: plotly>=5.13.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 22)) (5.15.0)
Requirement already satisfied: pycparser>=2.21 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 23)) (2.21)
Requirement already satisfied: pyparsing>=3.0.9 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 24)) (3.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 25)) (2.8.2)
Requirement already satisfied: pytz>=2022.7.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 26)) (2023.3.post1)
Requirement already satisfied: requests>=2.28.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 27)) (2.31.0)
Requirement already satisfied: six>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 28)) (1.16.0)
Requirement already satisfied: soupsieve>=2.4 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 29)) (2.5)
Collecting tapy>=1.9.1 (from -r requirements.txt (line 30))
  Downloading tapy-1.9.1-py3-none-any.whl (9.5 kB)
Requirement already satisfied: tenacity>=8.2.2 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 31)) (8.2.3)
Requirement already satisfied: urllib3>=1.26.14 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 32)) (2.0.7)
Requirement already satisfied: webencodings>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 33)) (0.5.1)
Collecting yapf>=0.32.0 (from -r requirements.txt (line 34))
  Downloading yapf-0.40.2-py3-none-any.whl (254 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 254.7/254.7 kB 19.6 MB/s eta 0:00:00
Requirement already satisfied: yfinance>=0.2.12 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 35)) (0.2.32)
Requirement already satisfied: importlib-metadata>=6.6.0 in /usr/local/lib/python3.10/dist-packages (from yapf>=0.32.0->-r requirements.txt (line 34)) (6.8.0)
Requirement already satisfied: platformdirs>=3.5.1 in /usr/local/lib/python3.10/dist-packages (from yapf>=0.32.0->-r requirements.txt (line 34)) (4.0.0)
Requirement already satisfied: tomli>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from yapf>=0.32.0->-r requirements.txt (line 34)) (2.0.1)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2.12->-r requirements.txt (line 35)) (3.17.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=6.6.0->yapf>=0.32.0->-r requirements.txt (line 34)) (3.17.0)
Installing collected packages: numpy, yapf, tapy, finta
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
cupy-cuda11x 11.0.0 requires numpy<1.26,>=1.20, but you have numpy 1.26.2 which is incompatible.
Successfully installed finta-1.3 numpy-1.26.2 tapy-1.9.1 yapf-0.40.2
Collecting schedule
  Downloading schedule-1.2.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: schedule
Successfully installed schedule-1.2.1

# Run Oanda analysis from Yahoo (Manual)

In [2]:
!python runOanda.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Oanda-sum-cloud-tkx-merged.csv.html')

----------- Reading symbols for H1 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/1h/USD_JPY.json data/oanda/1h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for H4 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/4h/USD_JPY.json data/oanda/4h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for D -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/d/USD_JPY.json data/oanda/d/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/w/USD_JPY.json data/oanda/w/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Reading symbols for M -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/m/USD_JPY.json data/oanda/m/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for M -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Generating Cloud Signals data/oanda/1h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/4h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/d/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/w/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/m/ -----------
Cloud signal count csv files are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-1H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-4H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-D.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-W.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 171][symbol: NAS100_USD , entries: 171][symbol: US30_USD , entries: 171][symbol: DE30_EUR , entries: 171][symbol: UK100_GBP , entries: 171][symbol: EUR_USD , entries: 181][symbol: GBP_USD , entries: 181][symbol: USD_JPY , entries: 181]Aggregator Oanda-cloud-M.csv and .xml are created

------------- Merging Multi Timeframe Cloud -------------
Check files for merging:  ['output/cloud/Oanda-cloud-1H.csv', 'output/cloud/Oanda-cloud-4H.csv', 'output/cloud/Oanda-cloud-D.csv', 'output/cloud/Oanda-cloud-W.csv', 'output/cloud/Oanda-cloud-M.csv']
Multi Timeframe Cloud Signals Merged:  output/cloud/Oanda-cloud-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
-------------------- Cloud Score Multi Timeframe Raw --------------------
        Symbol           Name  1H Cloud Direction  ...  1D Cloud Score  1W Cloud Score  1M Cloud Score
0    US30_USD  US Wall St 30                   1  ...              20               6              45
1     EUR_USD        EUR/USD                  -1  ...              19               0             -26
2     GBP_USD        GBP/USD                  -1  ...              16               4             -21
3    DE30_EUR     Germany 30                   1  ...              18               6              38
4  SPX500_USD     US SPX 500                   1  ...              21              30             157
5  NAS100_USD     US Nas 100                   1  ...              25              30             160
6   UK100_GBP         UK 100                   1  ...               3               0              25
7     USD_JPY        USD/JPY                  -1  ...              -6              25              27

[8 rows x 17 columns]

create_sum_column self.list_score_names:  ['1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', '1M Cloud Score', 'Cloud Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H Cloud Direction', '1H Cloud Count',
       '4H Cloud Direction', '4H Cloud Count', '1D Cloud Direction',
       '1D Cloud Count', '1W Cloud Direction', '1W Cloud Count',
       '1M Cloud Direction', '1M Cloud Count', '1H Cloud Score',
       '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', '1M Cloud Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', '1M Cloud Score', 'Cloud Score Sum']
Saved data to: output/cloud/Oanda-cloud-merged.csv output/cloud/Oanda-cloud-merged.csv.html

----------- Cloud Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  ...  1W Cloud Score  1M Cloud Score  Cloud Score Sum
4  SPX500_USD     US SPX 500              26  ...              30             157              242
5  NAS100_USD     US Nas 100              26  ...              30             160              242
3    DE30_EUR     Germany 30              10  ...               6              38              234
0    US30_USD  US Wall St 30               1  ...               6              45              229
6   UK100_GBP         UK 100              28  ...               0              25               90
2     GBP_USD        GBP/USD              -5  ...               4             -21              -11
1     EUR_USD        EUR/USD              -5  ...               0             -26              -44
7     USD_JPY        USD/JPY             -38  ...              25              27              -46

[8 rows x 8 columns]

-------------------- Generating TKx Signals from data/oanda/1h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/4h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/d/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/w/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/m/ asset_list/Oanda.csv --------------------
TKx count csv files are created

----------- Creating TKx Signal Aggregator data/oanda/1h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-1H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/4h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-4H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/d/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-D.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/w/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-W.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/m/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-M.csv and .xml are created

------------- Merging Multi Timeframe TKx -------------
Check files for merging:  ['output/tkx/Oanda-tkx-1H.csv', 'output/tkx/Oanda-tkx-4H.csv', 'output/tkx/Oanda-tkx-D.csv', 'output/tkx/Oanda-tkx-W.csv', 'output/tkx/Oanda-tkx-M.csv']
Multi Timeframe TKx Signals Merged:  output/tkx/Oanda-tkx-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
-------------------- TKx Score Multi Timeframe Raw --------------------
        Symbol           Name  1H TKx Direction  ...  1D TKx Score  1W TKx Score  1M TKx Score
0    US30_USD  US Wall St 30                -1  ...            22            -9             6
1     USD_JPY        USD/JPY                 1  ...           -11            29            31
2     EUR_USD        EUR/USD                -1  ...            34           -12             5
3     GBP_USD        GBP/USD                -1  ...            26           -12             5
4   UK100_GBP         UK 100                 1  ...            12             4            33
5    DE30_EUR     Germany 30                 1  ...            19           -10             6
6  SPX500_USD     US SPX 500                 1  ...            22            -7             5
7  NAS100_USD     US Nas 100                 1  ...            23            42             3

[8 rows x 17 columns]

create_sum_column self.list_score_names:  ['1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', '1M TKx Score', 'TKx Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H TKx Direction', '1H TKx Count',
       '4H TKx Direction', '4H TKx Count', '1D TKx Direction', '1D TKx Count',
       '1W TKx Direction', '1W TKx Count', '1M TKx Direction', '1M TKx Count',
       '1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score',
       '1M TKx Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', '1M TKx Score', 'TKx Score Sum']
Saved data to: output/tkx/Oanda-tkx-merged.csv output/tkx/Oanda-tkx-merged.csv.html

----------- TKx Score Multi Timeframe Final View -----------
        Symbol           Name  1H TKx Score  ...  1W TKx Score  1M TKx Score  TKx Score Sum
7  NAS100_USD     US Nas 100            25  ...            42             3            105
4   UK100_GBP         UK 100            17  ...             4            33             96
5    DE30_EUR     Germany 30            18  ...           -10             6             75
6  SPX500_USD     US SPX 500            23  ...            -7             5             33
0    US30_USD  US Wall St 30            -5  ...            -9             6             10
1     USD_JPY        USD/JPY             8  ...            29            31              4
3     GBP_USD        GBP/USD            -9  ...           -12             5            -15
2     EUR_USD        EUR/USD            -9  ...           -12             5            -20

[8 rows x 8 columns]

------------- Merging Multi Timeframe Cloud and TKx Sum -------------
Check files for merging:  ['output/cloud/Oanda-cloud-merged.csv', 'output/tkx/Oanda-tkx-merged.csv']
Multi Timeframe Cloud and TKx Signals Merged

File path without filename: output/sum
File name with extension: Oanda-sum-cloud-tkx-merged.csv
Saved data to: output/sum/Oanda-sum-cloud-tkx-merged.csv output/sum/Oanda-sum-cloud-tkx-merged.csv.html

----------- Cloud and TKx Sum Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  ...  1M TKx Score  TKx Score Sum  Total Score Sum
1  NAS100_USD     US Nas 100              26  ...             3            105              347
2    DE30_EUR     Germany 30              10  ...             6             75              309
0  SPX500_USD     US SPX 500              26  ...             5             33              275
3    US30_USD  US Wall St 30               1  ...             6             10              239
4   UK100_GBP         UK 100              28  ...            33             96              186
5     GBP_USD        GBP/USD              -5  ...             5            -15              -26
7     USD_JPY        USD/JPY             -38  ...            31              4              -42
6     EUR_USD        EUR/USD              -5  ...             5            -20              -64

[8 rows x 15 columns]

------------- Generating Html table -------------
HTML title: Oanda instruments Cloud and TKx score page
html data table generated.
generate_html output/sum/Oanda-sum-cloud-tkx-merged.csv
html data table saved at output/sum/Oanda-sum-cloud-tkx-merged.csv.html

Tasks completed.

# Run Dow Jones 30 analysis from Yahoo (Manual)

In [ ]:
!python runDJ30.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/DowJones30-sum-cloud-tkx-merged.csv.html')

# Run Nasdaq 100 analysis from Yahoo (Manual)

In [ ]:
!python runNas100.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Nasdaq100-sum-cloud-tkx-merged.csv.html')

# Run SPX 500 analysis from Yahoo (Manual)

In [ ]:
!python runSPX500.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/SPX500-sum-cloud-tkx-merged.csv.html')

# Run FTSE 100 analysis from Yahoo (Manual)

In [ ]:
!python runFTSE100.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FTSE100-sum-cloud-tkx-merged.csv.html')

# Run FTSE 250 analysis from Yahoo (Manual)

In [ ]:
!python runFTSE250.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FTSE250-sum-cloud-tkx-merged.csv.html')

# Run Futures analysis from Yahoo (Manual)

In [ ]:
!python runFutures.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Futures-sum-cloud-tkx-merged.csv.html')

# Run Futures Currency analysis from Yahoo (Manual)

In [ ]:
!python runFuturesCurrency.py
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FuturesCurrency-sum-cloud-tkx-merged.csv.html')

# Run all analyses from Yahoo (Manual)

In [ ]:
!python main.py

## Display Yahoo data html table

In [ ]:
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/DowJones30-sum-cloud-tkx-merged.csv.html')

In [ ]:
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Nasdaq100-sum-cloud-tkx-merged.csv.html')
# display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/SPX500-sum-cloud-tkx-merged.csv.html')
# display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FTSE100-sum-cloud-tkx-merged.csv.html')
# display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FTSE250-sum-cloud-tkx-merged.csv.html')
# display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Futures-sum-cloud-tkx-merged.csv.html')
# display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/FuturesCurrency-sum-cloud-tkx-merged.csv.html')

# Run Oanda Instruments (Schedule)

In [ ]:
import schedule, time, threading, datetime
import runFxOanda

# schedule.cancel_job(job)
# schedule.clear()

runOanda = runFxOanda
def job():
    now = datetime.datetime.now()
    current_time = now.strftime("%I:%M:%S %p")
    print(f"---------------------------- Executing script at {current_time} ----------------------------")
    runOanda.main()

def run_threaded(job_func):
   job_thread = threading.Thread(target=job_func)
   job_thread.start()

while True:
   run_threaded(job)
   time.sleep(100)

Streaming output truncated to the last 5000 lines.
   1W TKx Score  TKx Score Sum
2            -9            103
1            42             49
4           -10             41
0            -7             13
5             4             13
3            29            -22
7           -12            -26
6           -12            -31

------------- Merging Multi Timeframe Cloud and TKx Sum -------------
Check files for merging:  ['output/cloud/Oanda-cloud-merged.csv', 'output/tkx/Oanda-tkx-merged.csv']
Multi Timeframe Cloud and TKx Signals Merged

File path without filename: output/sum
File name with extension: Oanda-sum-cloud-tkx-merged.csv
Saved data to: output/sum/Oanda-sum-cloud-tkx-merged.csv output/sum/Oanda-sum-cloud-tkx-merged.csv.html

----------- Cloud and TKx Sum Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  4H Cloud Score  1D Cloud Score  \
0    DE30_EUR     Germany 30             103             145              15
1    US30_USD  US Wall St 30               2             140              17
3  NAS100_USD     US Nas 100               0              -9              22
2  SPX500_USD     US SPX 500              -3              19              18
4   UK100_GBP         UK 100               0              17               2
6     USD_JPY        USD/JPY               0             -37              -3
5     GBP_USD        GBP/USD             -29               0              13
7     EUR_USD        EUR/USD             -84             -15              16

   1W Cloud Score  Cloud Score Sum  1H TKx Score  4H TKx Score  1D TKx Score  \
0               6              269            10            25            16
1               6              165            -5            98            19
3              30               43             4           -17            20
2              30               64             4            -3            19
4               0               19           -13            13             9
6              25              -15            -7           -36            -8
5               4              -12           -29            -8            23
7               0              -83           -29           -21            31

   1W TKx Score  TKx Score Sum  Total Score Sum
0           -10             41              310
1            -9            103              268
3            42             49               92
2            -7             13               77
4             4             13               32
6            29            -22              -37
5           -12            -26              -38
7           -12            -31             -114

------------- Generating Html table -------------
HTML title: Oanda instruments Cloud and TKx score page
html data table generated.
generate_html output/sum/Oanda-sum-cloud-tkx-merged.csv
html data table saved at output/sum/Oanda-sum-cloud-tkx-merged.csv.html

Tasks completed.
---------------------------- Executing script at 06:12:47 PM ----------------------------
----------- Reading symbols for H1 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/1h/USD_JPY.json data/oanda/1h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for H4 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/4h/USD_JPY.json data/oanda/4h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for D -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/d/USD_JPY.json data/oanda/d/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/w/USD_JPY.json data/oanda/w/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Generating Cloud Signals data/oanda/1h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/4h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/d/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/w/ -----------
Cloud signal count csv files are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-1H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-4H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-D.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-W.csv and .xml are created

------------- Merging Multi Timeframe Cloud -------------
Check files for merging:  ['output/cloud/Oanda-cloud-1H.csv', 'output/cloud/Oanda-cloud-4H.csv', 'output/cloud/Oanda-cloud-D.csv', 'output/cloud/Oanda-cloud-W.csv', 'output/cloud/Oanda-cloud-M.csv']
WARNING: output/cloud/Oanda-cloud-M.csv does not exist.
Multi Timeframe Cloud Signals Merged:  output/cloud/Oanda-cloud-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
At least one column is missing.

-------------------- Cloud Score Multi Timeframe Raw --------------------
        Symbol           Name  1H Cloud Direction  1H Cloud Count  \
0  NAS100_USD     US Nas 100                   0               1
1    US30_USD  US Wall St 30                   1               2
2  SPX500_USD     US SPX 500                  -1               3
3     USD_JPY        USD/JPY                   0               5
4   UK100_GBP         UK 100                   0              17
5     GBP_USD        GBP/USD                  -1              29
6     EUR_USD        EUR/USD                  -1              84
7    DE30_EUR     Germany 30                   1             103

   4H Cloud Direction  4H Cloud Count  1D Cloud Direction  1D Cloud Count  \
0                  -1               9                   1              22
1                   1             140                   1              17
2                   1              19                   1              18
3                  -1              37                  -1               3
4                   1              17                   1               2
5                   0               4                   1              13
6                  -1              15                   1              16
7                   1             145                   1              15

   1W Cloud Direction  1W Cloud Count  1H Cloud Score  4H Cloud Score  \
0                   1              30               0              -9
1                   1               6               2             140
2                   1              30              -3              19
3                   1              25               0             -37
4                   0               6               0              17
5                   1               4             -29               0
6                   0               1             -84             -15
7                   1               6             103             145

   1D Cloud Score  1W Cloud Score
0              22              30
1              17               6
2              18              30
3              -3              25
4               2               0
5              13               4
6              16               0
7              15               6

create_sum_column self.list_score_names:  ['1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', '1M Cloud Score', 'Cloud Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H Cloud Direction', '1H Cloud Count',
       '4H Cloud Direction', '4H Cloud Count', '1D Cloud Direction',
       '1D Cloud Count', '1W Cloud Direction', '1W Cloud Count',
       '1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', 'Cloud Score Sum']
Saved data to: output/cloud/Oanda-cloud-merged.csv output/cloud/Oanda-cloud-merged.csv.html

----------- Cloud Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  4H Cloud Score  1D Cloud Score  \
7    DE30_EUR     Germany 30             103             145              15
1    US30_USD  US Wall St 30               2             140              17
2  SPX500_USD     US SPX 500              -3              19              18
0  NAS100_USD     US Nas 100               0              -9              22
4   UK100_GBP         UK 100               0              17               2
5     GBP_USD        GBP/USD             -29               0              13
3     USD_JPY        USD/JPY               0             -37              -3
6     EUR_USD        EUR/USD             -84             -15              16

   1W Cloud Score  Cloud Score Sum
7               6              269
1               6              165
2              30               64
0              30               43
4               0               19
5               4              -12
3              25              -15
6               0              -83

-------------------- Generating TKx Signals from data/oanda/1h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/4h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/d/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/w/ asset_list/Oanda.csv --------------------
TKx count csv files are created

----------- Creating TKx Signal Aggregator data/oanda/1h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-1H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/4h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-4H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/d/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-D.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/w/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-W.csv and .xml are created

------------- Merging Multi Timeframe TKx -------------
Check files for merging:  ['output/tkx/Oanda-tkx-1H.csv', 'output/tkx/Oanda-tkx-4H.csv', 'output/tkx/Oanda-tkx-D.csv', 'output/tkx/Oanda-tkx-W.csv', 'output/tkx/Oanda-tkx-M.csv']
WARNING: output/tkx/Oanda-tkx-M.csv does not exist.
Multi Timeframe TKx Signals Merged:  output/tkx/Oanda-tkx-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
At least one column is missing.

-------------------- TKx Score Multi Timeframe Raw --------------------
        Symbol           Name  1H TKx Direction  1H TKx Count  \
0  SPX500_USD     US SPX 500                 1             4
1  NAS100_USD     US Nas 100                 1             4
2    US30_USD  US Wall St 30                -1             5
3     USD_JPY        USD/JPY                -1             7
4    DE30_EUR     Germany 30                 1            10
5   UK100_GBP         UK 100                -1            13
6     EUR_USD        EUR/USD                -1            29
7     GBP_USD        GBP/USD                -1            29

   4H TKx Direction  4H TKx Count  1D TKx Direction  1D TKx Count  \
0                -1             3                 1            19
1                -1            17                 1            20
2                 1            98                 1            19
3                -1            36                -1             8
4                 1            25                 1            16
5                 1            13                 1             9
6                -1            21                 1            31
7                -1             8                 1            23

   1W TKx Direction  1W TKx Count  1H TKx Score  4H TKx Score  1D TKx Score  \
0                -1             7             4            -3            19
1                 1            42             4           -17            20
2                -1             9            -5            98            19
3                 1            29            -7           -36            -8
4                -1            10            10            25            16
5                 1             4           -13            13             9
6                -1            12           -29           -21            31
7                -1            12           -29            -8            23

   1W TKx Score
0            -7
1            42
2            -9
3            29
4           -10
5             4
6           -12
7           -12

create_sum_column self.list_score_names:  ['1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', '1M TKx Score', 'TKx Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H TKx Direction', '1H TKx Count',
       '4H TKx Direction', '4H TKx Count', '1D TKx Direction', '1D TKx Count',
       '1W TKx Direction', '1W TKx Count', '1H TKx Score', '4H TKx Score',
       '1D TKx Score', '1W TKx Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', 'TKx Score Sum']
Saved data to: output/tkx/Oanda-tkx-merged.csv output/tkx/Oanda-tkx-merged.csv.html

----------- TKx Score Multi Timeframe Final View -----------
        Symbol           Name  1H TKx Score  4H TKx Score  1D TKx Score  \
2    US30_USD  US Wall St 30            -5            98            19
1  NAS100_USD     US Nas 100             4           -17            20
4    DE30_EUR     Germany 30            10            25            16
0  SPX500_USD     US SPX 500             4            -3            19
5   UK100_GBP         UK 100           -13            13             9
3     USD_JPY        USD/JPY            -7           -36            -8
7     GBP_USD        GBP/USD           -29            -8            23
6     EUR_USD        EUR/USD           -29           -21            31

   1W TKx Score  TKx Score Sum
2            -9            103
1            42             49
4           -10             41
0            -7             13
5             4             13
3            29            -22
7           -12            -26
6           -12            -31

------------- Merging Multi Timeframe Cloud and TKx Sum -------------
Check files for merging:  ['output/cloud/Oanda-cloud-merged.csv', 'output/tkx/Oanda-tkx-merged.csv']
Multi Timeframe Cloud and TKx Signals Merged

File path without filename: output/sum
File name with extension: Oanda-sum-cloud-tkx-merged.csv
Saved data to: output/sum/Oanda-sum-cloud-tkx-merged.csv output/sum/Oanda-sum-cloud-tkx-merged.csv.html

----------- Cloud and TKx Sum Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  4H Cloud Score  1D Cloud Score  \
0    DE30_EUR     Germany 30             103             145              15
1    US30_USD  US Wall St 30               2             140              17
3  NAS100_USD     US Nas 100               0              -9              22
2  SPX500_USD     US SPX 500              -3              19              18
4   UK100_GBP         UK 100               0              17               2
6     USD_JPY        USD/JPY               0             -37              -3
5     GBP_USD        GBP/USD             -29               0              13
7     EUR_USD        EUR/USD             -84             -15              16

   1W Cloud Score  Cloud Score Sum  1H TKx Score  4H TKx Score  1D TKx Score  \
0               6              269            10            25            16
1               6              165            -5            98            19
3              30               43             4           -17            20
2              30               64             4            -3            19
4               0               19           -13            13             9
6              25              -15            -7           -36            -8
5               4              -12           -29            -8            23
7               0              -83           -29           -21            31

   1W TKx Score  TKx Score Sum  Total Score Sum
0           -10             41              310
1            -9            103              268
3            42             49               92
2            -7             13               77
4             4             13               32
6            29            -22              -37
5           -12            -26              -38

KeyboardInterrupt: ignored

# Run Oanda Instruments (Manual)

In [ ]:
!python runFxOanda.py

----------- Reading symbols for H1 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/1h/USD_JPY.json data/oanda/1h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for H4 -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/4h/USD_JPY.json data/oanda/4h/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for D -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/d/USD_JPY.json data/oanda/d/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Downloading from Oanda API -----------
Download completed. Saved in: data/oanda/w/USD_JPY.json data/oanda/w/USD_JPY.csv

----------- Creating Ichimoku Data -----------
Ichimoku columns added to csv

----------- Reading symbols for W -----------
readAssetList path: asset_list/Oanda.csv
       symbol           name
0  SPX500_USD     US SPX 500
1  NAS100_USD     US Nas 100
2    US30_USD  US Wall St 30
3    DE30_EUR     Germany 30
4   UK100_GBP         UK 100
5     EUR_USD        EUR/USD
6     GBP_USD        GBP/USD
7     USD_JPY        USD/JPY
----------- Generating Cloud Signals data/oanda/1h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/4h/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/d/ -----------
Cloud signal count csv files are created

----------- Generating Cloud Signals data/oanda/w/ -----------
Cloud signal count csv files are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-1H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-4H.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-D.csv and .xml are created

----------- Creating Cloud Signal Aggregator -----------
self.model.use_datetime_format:: True
[symbol: SPX500_USD , entries: 422][symbol: NAS100_USD , entries: 422][symbol: US30_USD , entries: 422][symbol: DE30_EUR , entries: 422][symbol: UK100_GBP , entries: 422][symbol: EUR_USD , entries: 422][symbol: GBP_USD , entries: 422][symbol: USD_JPY , entries: 422]Aggregator Oanda-cloud-W.csv and .xml are created

------------- Merging Multi Timeframe Cloud -------------
Check files for merging:  ['output/cloud/Oanda-cloud-1H.csv', 'output/cloud/Oanda-cloud-4H.csv', 'output/cloud/Oanda-cloud-D.csv', 'output/cloud/Oanda-cloud-W.csv', 'output/cloud/Oanda-cloud-M.csv']
WARNING: output/cloud/Oanda-cloud-M.csv does not exist.
Multi Timeframe Cloud Signals Merged:  output/cloud/Oanda-cloud-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
At least one column is missing.

-------------------- Cloud Score Multi Timeframe Raw --------------------
        Symbol           Name  1H Cloud Direction  ...  4H Cloud Score  1D Cloud Score  1W Cloud Score
0     USD_JPY        USD/JPY                   1  ...             -41              -4              25
1   UK100_GBP         UK 100                   1  ...              21               1               0
2  SPX500_USD     US SPX 500                   1  ...              23              19              30
3  NAS100_USD     US Nas 100                   1  ...             -13              23              30
4    US30_USD  US Wall St 30                   1  ...             144              18               6
5     GBP_USD        GBP/USD                  -1  ...               0              14               4
6     EUR_USD        EUR/USD                  -1  ...             -19              17               0
7    DE30_EUR     Germany 30                   1  ...             149              16               6

[8 rows x 14 columns]

create_sum_column self.list_score_names:  ['1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', '1M Cloud Score', 'Cloud Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H Cloud Direction', '1H Cloud Count',
       '4H Cloud Direction', '4H Cloud Count', '1D Cloud Direction',
       '1D Cloud Count', '1W Cloud Direction', '1W Cloud Count',
       '1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H Cloud Score', '4H Cloud Score', '1D Cloud Score', '1W Cloud Score', 'Cloud Score Sum']
Saved data to: output/cloud/Oanda-cloud-merged.csv output/cloud/Oanda-cloud-merged.csv.html

----------- Cloud Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  ...  1D Cloud Score  1W Cloud Score  Cloud Score Sum
7    DE30_EUR     Germany 30             116  ...              16               6              287
4    US30_USD  US Wall St 30              17  ...              18               6              185
2  SPX500_USD     US SPX 500              12  ...              19              30               84
3  NAS100_USD     US Nas 100              15  ...              23              30               55
1   UK100_GBP         UK 100               3  ...               1               0               25
0     USD_JPY        USD/JPY               2  ...              -4              25              -18
5     GBP_USD        GBP/USD             -45  ...              14               4              -27
6     EUR_USD        EUR/USD            -100  ...              17               0             -102

[8 rows x 7 columns]

-------------------- Generating TKx Signals from data/oanda/1h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/4h/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/d/ asset_list/Oanda.csv --------------------
TKx count csv files are created


-------------------- Generating TKx Signals from data/oanda/w/ asset_list/Oanda.csv --------------------
TKx count csv files are created

----------- Creating TKx Signal Aggregator data/oanda/1h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-1H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/4h/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-4H.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/d/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-D.csv and .xml are created

----------- Creating TKx Signal Aggregator data/oanda/w/ -----------
self.model.use_datetime_format:: True
Aggregator Oanda-tkx-W.csv and .xml are created

------------- Merging Multi Timeframe TKx -------------
Check files for merging:  ['output/tkx/Oanda-tkx-1H.csv', 'output/tkx/Oanda-tkx-4H.csv', 'output/tkx/Oanda-tkx-D.csv', 'output/tkx/Oanda-tkx-W.csv', 'output/tkx/Oanda-tkx-M.csv']
WARNING: output/tkx/Oanda-tkx-M.csv does not exist.
Multi Timeframe TKx Signals Merged:  output/tkx/Oanda-tkx-merged.csv

All specified columns exist.
All specified columns exist.
All specified columns exist.
All specified columns exist.
At least one column is missing.

-------------------- TKx Score Multi Timeframe Raw --------------------
        Symbol           Name  1H TKx Direction  ...  4H TKx Score  1D TKx Score  1W TKx Score
0   UK100_GBP         UK 100                 1  ...            17            10             4
1    US30_USD  US Wall St 30                 1  ...           102            20            -9
2     USD_JPY        USD/JPY                 1  ...           -40            -9            29
3  SPX500_USD     US SPX 500                 1  ...            -7            20            -7
4  NAS100_USD     US Nas 100                 1  ...           -21            21            42
5    DE30_EUR     Germany 30                 1  ...            29            17           -10
6     EUR_USD        EUR/USD                -1  ...           -25            32           -12
7     GBP_USD        GBP/USD                -1  ...           -12            24           -12

[8 rows x 14 columns]

create_sum_column self.list_score_names:  ['1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', '1M TKx Score', 'TKx Score Sum']
create_sum_column df.columns Index(['Symbol', 'Name', '1H TKx Direction', '1H TKx Count',
       '4H TKx Direction', '4H TKx Count', '1D TKx Direction', '1D TKx Count',
       '1W TKx Direction', '1W TKx Count', '1H TKx Score', '4H TKx Score',
       '1D TKx Score', '1W TKx Score'],
      dtype='object')
------ Cleaning columns ------
Available columns:  ['Symbol', 'Name', '1H TKx Score', '4H TKx Score', '1D TKx Score', '1W TKx Score', 'TKx Score Sum']
Saved data to: output/tkx/Oanda-tkx-merged.csv output/tkx/Oanda-tkx-merged.csv.html

----------- TKx Score Multi Timeframe Final View -----------
        Symbol           Name  1H TKx Score  4H TKx Score  1D TKx Score  1W TKx Score  TKx Score Sum
1    US30_USD  US Wall St 30            10           102            20            -9            123
4  NAS100_USD     US Nas 100            19           -21            21            42             61
5    DE30_EUR     Germany 30            23            29            17           -10             59
0   UK100_GBP         UK 100             7            17            10             4             38
3  SPX500_USD     US SPX 500            19            -7            20            -7             25
2     USD_JPY        USD/JPY            11           -40            -9            29             -9
7     GBP_USD        GBP/USD           -45           -12            24           -12            -45
6     EUR_USD        EUR/USD           -45           -25            32           -12            -50

------------- Merging Multi Timeframe Cloud and TKx Sum -------------
Check files for merging:  ['output/cloud/Oanda-cloud-merged.csv', 'output/tkx/Oanda-tkx-merged.csv']
Multi Timeframe Cloud and TKx Signals Merged

File path without filename: output/sum
File name with extension: Oanda-sum-cloud-tkx-merged.csv
Saved data to: output/sum/Oanda-sum-cloud-tkx-merged.csv output/sum/Oanda-sum-cloud-tkx-merged.csv.html

----------- Cloud and TKx Sum Score Multi Timeframe Final View -----------
        Symbol           Name  1H Cloud Score  ...  1W TKx Score  TKx Score Sum  Total Score Sum
0    DE30_EUR     Germany 30             116  ...           -10             59              346
1    US30_USD  US Wall St 30              17  ...            -9            123              308
3  NAS100_USD     US Nas 100              15  ...            42             61              116
2  SPX500_USD     US SPX 500              12  ...            -7             25              109
4   UK100_GBP         UK 100               3  ...             4             38               63
5     USD_JPY        USD/JPY               2  ...            29             -9              -27
6     GBP_USD        GBP/USD             -45  ...           -12            -45              -72
7     EUR_USD        EUR/USD            -100  ...           -12            -50             -152

[8 rows x 13 columns]

------------- Generating Html table -------------
HTML title: Oanda instruments Cloud and TKx score page
html data table generated.
generate_html output/sum/Oanda-sum-cloud-tkx-merged.csv
html data table saved at output/sum/Oanda-sum-cloud-tkx-merged.csv.html

Tasks completed.

# Display Oanda html table

In [ ]:
display_html_table_jupyter('/content/Cloud-Signal-Python/output/sum/Oanda-sum-cloud-tkx-merged.csv.html')

# Save to Google Drive

In [ ]:
#path that contains folder you want to copy
%cd /content/drive/MyDrive/Colab Notebooks
%cp -r /content/Cloud-Signal-Python /content/drive/MyDrive/Colab\ Notebooks/Colab-output

/content/drive/MyDrive/Colab Notebooks

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).